.button{
    border: 2px solid transparent;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    padding: 0.4rem 1.625rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all;
    min-width: 125px;
    
}

/*---------------------------------------------*/

.button--default{
    background-color: var(--main-blue);
    color: #ffffff;
}

.button--default:hover{
    border: 2px solid var(--main-blue);
    background-color: #ffffff;
    color: var(--main-blue);
}

.button--pink{
    background-color: var(--main-pink);
    color: #ffffff;
}

.button--pink:hover {
    border: 2px solid var(--main-pink);
    background-color: #ffffff00;
    color: var(--main-pink);
}

/*---------------------------------------------*/

.button.reverse{
    flex-direction: row-reverse;
}

.button .icon{
    font-size: 1.5rem;
    width: 1.5rem;
}
