/*----------------------------------------------------*/

.layout__form__new__elem {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000000;
}

.form__new__elem {
    width: 38%;
    background-color: #fff;
    border-radius: 20px;
    padding: 24px;
    position: relative;
    z-index: 1000000;
    max-height: 90vh;
    overflow-y: scroll;
}

.form__new__elem h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.form__new__elem .img__close__form {
    font-size: 24px;
    width: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}