.pedidos__pendientes .header__section .icon{
    color: var(--main-blue);
}

.pedidos .pedido__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pedido__item .pedido__nombre{
    display: block;
    font-weight: 600;
    font-size: 1rem;
}

.pedido__item .pedido__sub_data{
    display: block;
    font-size: 0.75rem;
    color: #666666;
}

.pedido__item .status__label{
    transform: scale(0.8);
}

.pedido__item .pedido__total{
    font-weight: 600;
    font-size: 1rem;
}