.charts__container{
    display: flex;
    gap: 2rem;
}

.chart__title{
    font-size: 1.125rem;
    color: #222222;
    margin-bottom: 1.25rem;
}

/*------------------------------------------------*/

.admin__home__section{
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 2rem;
}

.admin__home__section .header__section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}

.admin__home__section .header__section h3{
    font-size: 1.125rem;
    color: #222222;
}

.admin__home__section .header__section .icon{
    font-size: 1.5rem;
    width: 1.5rem;
}

.admin__home__section .header__section .link__to{
    font-size: 0.875rem;
    color: #333333;
    transition: all 0.3s ease;
}

.admin__home__section .header__section .link__to:hover{
    color: var(--main-blue)
}

