.producto_view{
    width: 100%;
    min-height: 100vh;
}

/*////////////////////////////////////////////////////////////////////////////////////////*/

.producto_view__header{
    width: 100%;
    display: flex;
    padding: 16px var(--lateral-padding);
    background-color: #F1F0EE;
    gap: 0.5rem;
}

.producto_view__header *{
    font-size: 14px;
}

.producto_view__header .slash, .producto_view__header .link{
    color: #737373;
}

.producto_view__header .link:hover{
    transition: 0.3s all;
    color: var(--main-color);
}

.producto_view__header .producto_title{
    color: #262626;
}

/*////////////////////////////////////////////////////////////////////////*/

.producto_view__content {
    width: 100%;
    padding: 48px var(--lateral-padding);
    position: relative;
}

.producto_main_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
  
/*////////////////////////////////////////////////////////////////////////*/

.producto_main_content .producto_info{
    min-width: 40%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    height: 390px;
}

.producto_info .producto_marca{
    font-size: 1rem;
    color: #333333;
}

.producto_info .producto_nombre{
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--main-blue);
    margin-bottom: 0.75rem;
}

.producto_info .categorias__container{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.producto_info .producto_categoria{
    display: inline-block;
    padding: 4px 10px;
    font-size: 0.75rem;
    color: var(--main-color);
    border-radius: 99999px;
    border: 1px solid var(--main-color);
    background-color: #F1F0EE;
    margin-bottom: 20px;
    text-align: center;
}

.producto_info .producto_precio{
    display: block;
    font-size: 2rem;
    font-weight: bold;
    color: var(--main-blue);
}

.producto_info .producto_ex_precio{
    display: block;
    font-size: 1.125rem;
    color: #666666;
    text-decoration: line-through;
}

.producto_stock{
    font-size: 1rem;
    color: #666666;
    margin-bottom: 0.5rem;
    margin-top: 3rem;;
}

/*-------------------------------------------------------------*/

.producto_button_shopping{
    display: flex;
    gap: 1rem;
}

.producto_button_shopping .button{
    width: 100%;
    font-weight: 600;
}

/* Chrome, Safari, Edge y Opera */
.producto_button_shopping  input[type=number]::-webkit-inner-spin-button, 
.producto_button_shopping  input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.producto_button_shopping  input[type=number] {
  -moz-appearance: textfield;
}

.producto_view .manage__amount{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #cccccc;
    background-color: #f0f0f066;
}

.producto_view .manage__amount span{
    font-size: 1.5rem;
    width: 1.5rem;
    color: #111111;
    cursor: pointer;
    user-select: none;
}

.producto_view .manage__amount input{
    border: none;
    outline: none;
    width: 50px;
    text-align: center;
    font-size: 1.125rem;
    color: #333333;
    background-color: transparent;
}


/*////////////////////////////////////////////////////////////////////////*/

.producto_section{
    margin: 30px 0;
    max-width: 65%;
}

.producto_section_title{
    display: block;
    font-family: var(--title-font-family);
    font-size: 1.25rem;
    color: #262626;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.producto_description{
    font-size: 1rem;
    line-height: 1.25rem;
    color: #737373;
    margin-bottom: 12px;
    text-align: justify;
}


/*////////////////////////////////////////////////////////////////////////////*/

.producto__no__page{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
}

.producto__no__page span{
    display: block;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    color: #222222;
}

.producto__no__page h3{
    text-align: center;
    font-size: 1.125rem;
    color: #111111;
    margin-bottom: 0.5rem;
}

.producto__no__page p{
    text-align: center;
    font-size: 1rem;
    color: #666666;
    margin-bottom: 2rem;
}

.producto__no__page .button{
    margin: 0 auto;
}


/*//////////////////////////////////////////////////////////////////////////
////////////////////////// RESPONSIVE //////////////////////////////////////
///////////////////////////////////////////////////////////////////////////*/


@media (max-width: 768px) {

    .producto_view__header * {
        font-size: 11px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .producto_main_content {
        flex-direction: column;
        gap: 2rem;
    }

    /*////////////////////////////////////////////////////////////////////////*/

    .producto_view__content .producto_price {
        font-size: 1.5rem;
    }

    .producto_view__content .producto_title {
        font-size: 0.875rem;
    }

    /*---------------------------------*/

    .producto_location__container {
        margin: 12px auto;
    }

    /*---------------------------------*/

    .producto__features_container {
        padding: 1.25rem;
        gap: 0.5rem;
        margin: 25px 0;
    }

    .producto_feature .icon {
        font-size: 1.25rem;
    }

    .producto_feature .value {
        font-size: 0.875rem;
    }

    .producto_feature .tag {
        font-size: 0.75rem;
    }

    .producto_button {
        display: block;
        text-align: center;
        padding: 12px 16px;
    }

    /*////////////////////////////////////////////////////////////////////////*/

    .producto_section {
        max-width: 100%;
    }


    .producto_description {
        font-size: 0.875rem;
        line-height: 1.5rem;
    }


    /*----------------------------------------*/

    .producto_feature_item {
        gap: 1rem;
    }


}