:root {
    --main-blue: #131B4D;
    --main-pink: #E619B0;
    --grey-blue: #6B7880;
    --lateral-padding: 7.5rem
}

a{
    display: block;
    text-decoration: none;
    color: unset;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

.flex{ display: flex; }
.y-center{ align-items: center; }
.x-center{ justify-content: center; }
.flex--4{ display: flex; gap: 4px; }
.flex--8{ display: flex; gap: 8px; }
.flex--16{ display: flex; gap: 16px; }
.flex--24{ display: flex; gap: 24px; }
.flex--32{ display: flex; gap: 32px; }


.section__title{
    font-size: 1.5rem;
    font-weight: 500;
    color: #222222;
    margin-bottom: 5px;
}

.section__subtitle{
    font-size: 1rem;
    color: var(--grey-blue);
}