.admin__marcas__container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.admin__marcas__container > *{
    flex: 1 1 calc((100% - 2rem) / 3);
    max-width: calc((100% - 2rem) / 3);
}

