.admin__ventas .venta__codigo{
    display: block;
    color: #111111;
    font-weight: 700;
    letter-spacing: 0.25px;
    margin-bottom: 0.125rem;
}

.admin__ventas .venta__cantidad{
    display: block;
    font-size: 0.75rem;
    color: #444444;
}

.admin__ventas .venta__cliente{
    display: block;
    color: #111111;
    font-weight: 600;
    letter-spacing: 0.25px;
    margin-bottom: 0.125rem;
}

.admin__ventas .venta__email{
    display: block;
    font-size: 0.75rem;
    color: #444444;
}

.venta__fecha{
    display: block;
    color: #222222;
}
.venta__hora{
    display: block;
    color: #444444;
}

.venta__total{
    font-size: 1rem;
    color: #222222;
    font-weight: 700;
}

/*---------------------------------------------------------------------*/




/*-------------------------------------------------------------------*/

.admin__ventas .actions__container span {
    width: 2rem;
    height: 2rem;
    font-size: 1.375rem;
    border-radius: 9999px;
    transition: 0.3s all;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin__ventas .actions__container .edit__icon {
    color: #333333;
}

.admin__ventas .actions__container .edit__icon:hover {
    background-color: #333333;
    color: #ffffff;
}

.admin__ventas .actions__container .cancel__icon {
    color: #980000;
}

.admin__ventas .actions__container .cancel__icon:hover {
    background-color: #980000;
    color: #ffffff;
}

.admin__ventas .actions__container .see__icon {
    color: #008b4a;
}

.admin__ventas .actions__container .see__icon:hover {
    background-color: #008b4a;
    color: #ffffff;
}