
.field__options__edit{
    width: 100%;
    margin-bottom: 30px;
}

.field__options__edit h3{
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
    font-weight: 500;
}

.add__option__container{
    display: flex;
    align-items: center;
    gap: 3px;
    margin-top: 10px;
}

.add__option__container input{
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    background-color: #fafafa;
    padding: 8px 12px;
    border: 1px solid #ddd;
    height: 38px;
}

.add__option__container button{
    width: 42px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #005DAC;
    cursor: pointer;
    outline: none;
    border: none;
}

.add__option__container button img{
    width: 16px;
}

.add__option__container button:hover{
    opacity: 0.8;
}